$color-primary: #D40424;
$color-secondary: #223040;
$color-light: #E9F0F7;
$color-light-2: #AEC5C6;
$color-dark: #101D29;

// $input-auth-gradient: rgba($color: $color-btn-primary, $alpha: .4);

// Opacity
// $opacity1: rgba($color: $color-terciary-green, $alpha: .65);

// $bg-gradient: linear-gradient(to top right, $color-primary-green, $color-secondary-green);
