$color-primary-green: #99B422;
$color-secondary-green: #3DE483;
$color-terciary-green: #1E9E14;
$color-btn-primary: #1C3212;
$color-btn-secondary: #22703D;
$color-text-primary: #FFF;

$input-auth-gradient: rgba($color: $color-btn-primary, $alpha: .4);

// Opacity
$opacity1: rgba($color: $color-terciary-green, $alpha: .65);

$bg-gradient: linear-gradient(to top right, $color-primary-green, $color-secondary-green);