.form-auth {
  color: white;
  position: absolute;
  z-index: 1;
  max-width: 800px;

  .form-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  section {
    width: 50%;
    flex-direction: column;
  }

  .btn-primary {
    font-family: $coco;
  }
  
  label {
    text-transform: uppercase;
    font-family: $bahn;
  }
}

.input-auth {
  background: $input-auth-gradient;
  border: none;
  border-radius: 4px;
  padding: 7px;
  color: $color-text-primary;
  width: 100%;
}