@import 'colors';
@import 'fonts';

@font-face {
  font-family: Cocogoose;
  src: url('../fonts/Cocogoose Pro-trial.ttf');
}

@font-face {
  font-family: Bahnschrift;
  src: url('../fonts/bahnschrift.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $bahn;
}

main,
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: $color-light;
}

.text-align-left {
  text-align: left;
}

@import 'components/buttons';
@import 'components/forms';
@import 'components/icons';
@import 'components/popups';
@import 'containers/index';
@import 'pages/scraper';
@import 'auth/login';
