.btn-primary {
  background: $color-btn-primary;
  border-radius: 2rem;
  border: none;
  padding: 0.75rem 1.5rem;
  color: $color-text-primary;
  font-size: 1.25rem;
  text-shadow: 3px 3px 2px #000;
  line-height: 0.75;
  cursor: pointer;

  box-shadow: 3.5px 3.5px 5px $opacity1;
}